#------------------------------------------
# User settings
#------------------------------------------

# These are working values
# enables a DHT11 temp/humidity sensor.  If false CPU still logged.
DHT11_ENABLE=True

# set how often the temps will be measured and recorded
DHT11_TIME=300


#----------------------
# These are dummy values waiting for coding
#-----------------------

# sets the gpio pin number for the install script to use in /boot/firmware/config.txt
DHT11_PIN=14

# list of all band and ptt pin assignments, patterns and inversions

GPIO_BAND_2M=0b00000001
GPIO_PTT_2M=0b00000001

GPIO_BAND_70cm=0b00000001
GPIO_PTT_70cm=0b00000001

GPIO_BAND_23cm=0b00000001
GPIO_PTT_23cm=0b00000001

GPIO_BAND_13cm=0b00000010
GPIO_PTT_13cm=0b00000001

GPIO_BAND_6cm=0b00000100
GPIO_PTT_6cm=0b00000100

# Untested with 10GHz.  Position should not matter.  0 shuts off many SPxT oax swicvthes
GPIO_BAND_3cm=0b00000000
GPIO_PTT_3cm=0b00000001

GPIO_BAND_0_PIN=5
GPIO_BAND_0_PIN_INVERT=False
GPIO_PTT_0_PIN=0
GPIO_PTT_0_PIN_INVERT=False

GPIO_BAND_1_PIN=4
GPIO_BAND_1_PIN_INVERT=False
GPIO_PTT_1_PIN=0
GPIO_PTT_1_PIN_INVERT=False

GPIO_BAND_2_PIN=13
GPIO_BAND_2_PIN_INVERT=False
GPIO_PTT_2_PIN=0
GPIO_PTT_2_PIN_INVERT=False

GPIO_BAND_3_PIN=0
GPIO_BAND_3_PIN_INVERT=False
GPIO_PTT_3_PIN=0
GPIO_PTT_3_PIN_INVERT=False

GPIO_BAND_4_PIN=0
GPIO_BAND_4_PIN_INVERT=False
GPIO_PTT_4_PIN=0
GPIO_PTT_4_PIN_INVERT=False

GPIO_BAND_5_PIN=0
GPIO_BAND_5_PIN_INVERT=False
GPIO_PTT_5_PIN=0
GPIO_PTT_5_PIN_INVERT=False


#-----------------------------------------
#  Machine state tracking - non-user settings
#  These are read by the program at startup and then updated by the program as they change
#----------------------------------------- 

#  last band active - used to initialize the program to someting likely if a reboot occurs
#  Unless the radio is started after the progream, or a radio event occurs, 
#    we do not know what band the radio is on
RADIO_BAND="70cm"

#  like RADIO_BAND, record the last known state of split
RADIO_SPLIT=False
