#------------------------------------------
# User settings
#------------------------------------------

# These are working values
# enables a DHT11 temp/humidity sensor.  If false CPU still logged.
DHT11_ENABLE=True

# set how often the temps will be measured and recorded (600 = 10 minutes)
DHT11_TIME=600


#----------------------
# This is a dummy value waiting for coding
#-----------------------

# sets the gpio pin number for the install script to use in /boot/firmware/config.txt
DHT11_PIN=14


# --------------------------------
# list of all band and ptt pin assignments, patterns and inversions
# --------------------------------

BAND_2M=0x01
PTT_2M=0x01

BAND_70cm=0x01
PTT_70cm=0x01

BAND_23cm=0x01
PTT_23cm=0x01

BAND_13cm=0x02
PTT_13cm=0x01

BAND_6cm=0x04
PTT_6cm=0x01

BAND_3cm=0x00
PTT_3cm=0x01


# ---------------------------------
# One or more pins may be mapped to one band so they are simply numbered
# ---------------------------------

# 3-Relay HAT
#GPIO_BAND_0_PIN=26
#GPIO_BAND_0_PIN_INVERT=True
#4-relay HAT
GPIO_BAND_0_PIN=5
GPIO_BAND_0_PIN_INVERT=False
GPIO_PTT_0_PIN=0
GPIO_PTT_0_PIN_INVERT=False

# 3-Relay HAT
#GPIO_BAND_1_PIN=20
#GPIO_BAND_1_PIN_INVERT=True
#4-relay HAT
GPIO_BAND_1_PIN=6
GPIO_BAND_1_PIN_INVERT=False
GPIO_PTT_1_PIN=0
GPIO_PTT_1_PIN_INVERT=False

# 3-Relay HAT
#GPIO_BAND_2_PIN=21
#GPIO_BAND_2_PIN_INVERT=True
#4-relay HAT
GPIO_BAND_2_PIN=13
GPIO_BAND_2_PIN_INVERT=False
GPIO_PTT_2_PIN=0
GPIO_PTT_2_PIN_INVERT=False

GPIO_BAND_3_PIN=0
GPIO_BAND_3_PIN_INVERT=False
GPIO_PTT_3_PIN=0
GPIO_PTT_3_PIN_INVERT=False

GPIO_BAND_4_PIN=0
GPIO_BAND_4_PIN_INVERT=False
GPIO_PTT_4_PIN=0
GPIO_PTT_4_PIN_INVERT=False

GPIO_BAND_5_PIN=0
GPIO_BAND_5_PIN_INVERT=False
GPIO_PTT_5_PIN=0
GPIO_PTT_5_PIN_INVERT=False
