#------------------------------------------
# User settings
#------------------------------------------

# These are working values
# enables a DHT11 temp/humidity sensor.  If false CPU still logged.
DHT11_ENABLE=True

# set how often the temps will be measured and recorded
DHT11_TIME=300


#----------------------
# These are dummy values waiting for coding
#-----------------------

# sets the gpio pin nnumber for the install script to use in /boot/firmware/config.txt
DHT11_PIN=14

# list of all band and ptt pin assignments, patterns and inversions
GPIO_BAND=16


#-----------------------------------------
#  Machine state tracking - non-user settings
#  These are read by the program at startup and then updated by the program as they change
#----------------------------------------- 

#  last band active - used to initialize the program to someting likely if a reboot occurs
#  Unless the radio is started after the progream, or a radio event occurs, 
#    we do not know what band the radio is on
RADIO_BAND="70cm"

#  like RADIO_BAND, record the last known state of split
RADIO_SPLIT=False
